// Inforum style sheet

// Resets all css so it looks the same cross-browser
@import 'sass/reset'; 

/* **********************
Colours 
********************** */

// New colours
$red: #D73E2E;
$blue: #2980b9;
$green: #27ae60;
$orange: #E67E22;
$pink: #B955E3;
$purple: #8e44ad;
$lightblue: #1ABC9C;
$yellow: #F1C40F;

// Greys
$clouds: #ECF0F1; // light grey
$silver: #bdc3c7; // darker grey 
$concrete: #95a5a6; // even darker grey
$abestos: #7f8c8d; // darkest grey

// LIGHT Colourful colours 
$amethest: #9B59B6;
$lightblue : #00ACEF; // light blue 
$light-pink: #B955E3;


// DARK colourful colours 
$nephitis :#27ae60; // dark green
$pumkin: #d35400; // dark orange
$orange: #f39c12; // orange
$midnight-blue: #2c3e50; // dark navyish
$wisteria :#8e44ad; // dark purple
$belieze-hole: #2980b9; // dark blue
$green-sea: #16a085; // dark green

/* **********************
Font stack 
********************** */
$font-stack: 'Helvetica Neue';

/* **********************
Imported SASS style sheets
********************** */
// Loading circle
@import 'sass/loadingcircle'; 
@import 'sass/button'; 
@import 'sass/input'; 
@import 'sass/categories'; 
@import 'sass/menu'; 
@import 'sass/action'; 
@import 'sass/nav'; 
@import 'sass/story'; 
@import 'sass/social'; 
@import 'sass/profile'; 
@import 'sass/activity'; 

@mixin noselect {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


html, body {
	background: #181617;
	font-family: $font-stack;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.red-background {
	background: #2F2F2F;
	height: 100%;
}


/* **********************
Text
********************** */
.main-title {
	font-family: $font-stack;

	font-size: 48px;
	color: white;
	text-align: center;
	font-weight: 100;
	margin-top: 80px;

	margin-bottom: 10px;
}

.main-second {
	font-family: $font-stack;

	font-size: 20px;
	color: white;
	text-align: center;
	font-weight: 200;

	margin-bottom: 50px;
	line-height: 24px;
}

.main-copyright {
	font-family: $font-stack;
	font-size: 12px;
	position: absolute;
	color: white;
	opacity: 0.6;
	bottom: 0;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.main-fbswitch {
	color: $light-pink;
	text-align: center;
	font-size: 12px;
}


/* ***********************
	MISC
************************ */

.top-bar.coloured {
		background: #344D62;
}
.top-bar {
	height: 76px;

	h1 {
		padding-left: 55px;
		color: white;
		font-weight: 600;
		letter-spacing: 2px;
		padding-top: 10px;
		font-size: 22px;
		margin-top: -2px;
	}

	i {
		position: absolute;
		right: 20px;
		top: 10px;
		color: white;
		cursor: pointer;
	}
}

.search {
	width: 100%;
	outline: 0;
	background: none;
	border: 0;
	height: 30px;
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: #4a4a4a;
	transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  opacity: 1;
}

.search.hidden {
	opacity: 0;
	display: none;
	
	transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
}
.facebook-profile {
	border-radius: 50%;
	border: 2px solid white;
	display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .example-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}


.side-menu {
	height: 100vh;
	position: fixed;
	width: 300px;
	background: #565656;
	-webkit-transition: .4s ease-in-out;
	color: white;
	z-index: 5000;


	.part1 {
		position: relative;
		top: 0;
		height: 200px;
		background: #2F2F2F!important;
		

		
		h2 {
			padding-left: 30px;
			// User name
			font-size: 20px;
			font-weight: 700;
			padding-top: 15px;
			padding-bottom: 20px;
		}


		img {
			margin-top: 30px;
			margin-left: 30px;
			background: #2F2F2F!important;
			border-radius: 100%;
		}
	}

	

	ul {
			padding-left: 20px;
			padding-top: 30px;

		li {
			font-weight: 200;
			font-size: 20px;
			margin-bottom: 15px;
		}

		li:nth-child(3) {
			padding-bottom: 10px;
			border-bottom: 1px solid #4a4a4a;
			
		}

		li:nth-child(5) {
			padding-bottom: 10px;
			border-bottom: 1px solid #4a4a4a;
		}
	}

}

.side-menu.hide {
	 -webkit-transform: translate3d(-330px, 0, 0);
}

.side-menu.show {
	-webkit-transform: translate3d(0px, 0, 0);
}


.follow {
	position: absolute;
	text-align: center;
	width: 70px;
	background: $blue;
	height: 30px;
	color: white;
	font-size: 14px;
	font-weight: 300;
	left: 10px;
	top: 150px;
	@include noselect;
	cursor: pointer;
	p {
		margin-top: 7px;
	}
	.follewed {
		background: $green;
	}
}
