// Buttons

// Sign in with Facebook or Email
.button-login {
  margin: auto;
  display: block;

  width: 260px;
  background: white;
  color: $lightblue;
  border: 0;
  outline: 0;
  border-radius: 15px;
  height: 36px;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-signup {
  @extend .button-login;

  background: none;
  border: 2px solid white;
  color: white;
}

// Sign up

