
.element {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background: #242E3A;
  height: 150px;
  color: white;
  font-size: 12px;
  font-weight: 300;
  position: relative;
  width: 100vw;
  overflow: hidden;

  

  p {
    width: 95%;
    margin: auto;
    opacity: 0.9;
    letter-spacing: 1.2px;
    word-spacing: 2px;
    line-height: 16px;
  }

  

}

/* **************************
  BOOKMARK 
************************** */

.element{
  .bookmark {
    i {
        position: relative;
        left: 90%;
        font-size: 20px;
        cursor: pointer;
    }

    i.red {
      color: $red;
    }
    i.blue {
      color: $blue;
    }
    i.green {
      color: $green;
    }
    i.orange {
      color: $orange;
    }
    i.ipink {
      color: $pink;
    }
    i.purple {
      color: $purple;
    }
    i.lightblue {
      color: $lightblue;
    }
    i.yellow {
      color: $yellow;
    }
  }
}
.bookmarked {
  font-size: 15px;
  color: #DDD;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}


/* **************************
  SOCIAL SIDE BAR 
************************** */

.element {
  .social {
    width: 80px;
    height: 100%;
    display: block;
    right: 0;
    position: absolute;
    z-index: 20003;
    transition: 0.2s ease-in-out;

    i {
      color: white;
      padding-top: 40px;
      padding-left: 27px;
      font-size: 20px;
      display: block;
    }

  }

  .social.red {
    background: $red;
  }
  .social.blue {
    background: $blue;
  }
  .social.green {
    background: $green;
  }
  .social.orange {
    background: $orange;
  }
  .social.pink {
    background: $pink;
  }
  .social.purple {
    background: $purple;
  }
  .social.lightblue {
    background: $lightblue;
  }
  .social.yellow {
    background: $yellow;
  } 

  .social.hidden {
      right: -80px;

  }
}

/* **************************
  BOTTOM BAR 
************************** */
.element {
  .bottom-bar {
    position: absolute;
    bottom: 0;
    margin-top: 20px;
    width: 90%;
    font-size: 12px!important;

    .bottom-cat {position: absolute;
      width: 30px;
      display: inline-block;
      bottom: 0;
      font-size: 12px;
      font-weight: 700;
      padding-top: 8px;
      padding-left: 4px;
      padding-right: 4px;
      padding-bottom: 8px;
      text-align: center;

    }

    .bottom-cat.red {
      background: $red;
    }
    .bottom-cat.blue {
      background: $blue;
    }
    .bottom-cat.green {
      background: $green;
    }
    .bottom-cat.orange {
      background: $orange;
    }
    .bottom-cat.pink {
      background: $pink;
    }
    .bottom-cat.purple {
      background: $purple;
    }
    .bottom-cat.lightblue {
      background: $lightblue;
    }
    .bottom-cat.yellow {
      background: $yellow;
    }

    
    p {
      display: inline-block;
      font-size: 12px!important;
    }

    .aa.red {
        color: $red;
        font-size: 12px!important;
      }
      .aa.blue {
        color: $blue;
        font-size: 12px!important;
      }
      .aa.green {
        color: $green;
        font-size: 12px!important;
      }
      .aa.orange {
        color: $orange;
        font-size: 12px!important;
      }
      .aa.pink {
        color: $pink;
        font-size: 12px!important;
      }
      .aa.purple {
        color: $purple;
        font-size: 12px!important;
      }
      .aa.lightblue {
        color: $lightblue;
        font-size: 12px!important;
      }
      .aa.yellow {
        color: $yellow;
        font-size: 12px!important;
      }
    
    .aa {
      display: inline-block!important;
      padding-left: 50px;
      padding-bottom: 10px;

      b {
        color: #DDD;
      }
      
    }

    i {
      font-size: 12px!important;
      padding-right: 5px!important;
      display: inline-block;
      margin-right: 2px;
      float: right;
    }
  }
}
