// CSS RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


li {
	display: block;
}
input {
	display: inline-block;
}
.element input {
	display: inline-block;
}
button {
	display: inline-block;
}

// Colours

// Greys
$clouds: #ECF0F1; // light grey
$silver: #bdc3c7; // darker grey 
$concrete: #95a5a6; // even darker grey
$abestos: #7f8c8d; // darkest grey

// Colourful colours 

// Dark colourful colours 
$nephitis :#27ae60; // dark green
$pumkin: #d35400; // dark orange
$orange: #f39c12; // orange
$midnight-blue: #2c3e50; // dark navyish
$wisteria :#8e44ad; // dark red
$belieze-hole: #2980b9; // dark blue
$green-sea: #16a085; // dark green

// Login page
body {
	background: $clouds;
	font-family: "Roboto"; 
}
.top-bar {
	height: 5px;
	width: 100%;
	background: $abestos;
}
.text-inforum-large {
	font-family: "Roboto";
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	color: $abestos;
	margin-top: 50px;
}
.text-inforum-small {
	text-align: center;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: normal;
	color: $abestos;
	margin-left: 59px;
	margin-bottom: 20px;
}

input {
	margin: auto;
	display: block;
	background: none;
	border: none;
	border-bottom: 1px solid $silver;
	margin-bottom: 20px;
	width: 50%;
	font-size: 20px;
	color: $abestos;
}

::-webkit-input-placeholder {
	color: $silver;
	font-size: 20px;
	font-weight: 100;
}

textarea:focus, input:focus {
	outline: 0;
}

button {
	outline: 0;
	border: 0;
	background: $nephitis;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
}

.text-inforum-powered {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: $silver;
    margin-top: 20px;
}

/* Sections */

.top-bar-sections {
	height: 50px;
	width: 100%;
	background: $abestos;
	box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 2px;
  	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 2px;
  	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 2px;
	
  	img {
  		float: right;
  		display: inline-block;
  	}

}

.text-inforum-header {
	text-size: 10px;
	color: white;
	padding-top: 15px;
	padding-left: 10px;
	display: inline-block;
}

.section {
	height: 200px;
	h1 {
		font-size: 20px;
		text-align: center;
		padding-top: 90px;
		color: white;
	}
}
.green {
	background: $nephitis;
}
.blue {
	background: $belieze-hole;
}
.purple {
	background: $wisteria;
}
.yellow {
	background: $orange;
}
.orange {
	background: $pumkin;
}
.turc {
	background: $green-sea;
}

.story-container {
	height: 200px;
	background: $clouds;
	margin: 10px;
	box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 2px;
  	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 2px;
  	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 5px 5px 2px;

  	.side {
  		width: 80px;
  		height: 100%;
  		float: right;
  		display: inline-block;

  		i {
  			font-size: 30px;
  			color: $clouds;
  			width: 30px;
  			display: block;
  			margin: auto;
  			margin-top: 14px;
  		}
  	}

  	p {
  		font-size: 20px;
  		height: 100%;
  		width: 70%;
  		margin-left: 10px;
  		margin-top: 10px;
  		float: left;
  		display: inline-block;
  		
  	}

  	
}

.story {

  		h1 {
			font-size: 30px;
			padding-top: 50px;
			line-height: 35px;
			color: $nephitis;
  		}	

  		p {
  			margin-top: 50px;
  			font-size: 20px;
  			font-weight: 200;
  			width: 80%;
  			line-height: 35px;
  			letter-spacing: 0.3px;
  			word-spacing: 3px;
  		}

  		div {
  			font-size: 15px;
  			font-weight: 300;
  			margin-top: 20px;
  			span {
  				font-weight: 700;
  			}
  		}
  	}

.submit-story {
	input {
		width: 100%;
	}

	textarea {
		background: none;
	}
}

.text-inforum-username {
	text-size: 10px;
	color: white;
	padding-top: 15px;
	padding-right: 10px;
	display: inline-block;
	float: right;
}